/* * {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
} */

a {
    color:hsl(0, 0%, 95%);
}

header h1 {
    padding: .5rem;
    
}

#copyright {
    font-size: large;
    padding: .5rem;
}

#modified {
    font-size: large;
    padding: .5rem;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    padding: 5rem 1.5rem;
    /* position: relative; */
    background: hsl(0, 0%, 95%);
    font-size: x-small;
    overflow-wrap: break-word;
    margin: auto;
    /* min-width: 500px; */
    /* max-width: 1000px; */

}

section.design {
    padding: 2.25rem;
}

section.vh {
    background: hsl(0, 100%, 20%);
    
}

section.wscd {
    background: hsl(180, 5%, 18%);
}

section.rt {
    background: hsl(224, 18%, 21%);
}

.design .design-principle {
    margin-bottom: 1.5rem;
}

.design .design-name {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    margin-bottom: 1rem;
}

.design .description {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 200;
    line-height: 1.7;
    margin-bottom: 1.25rem;
}

/* @media (min-width: 375px) { */
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;

    }
    section.design {
        padding: 2.25rem;
    }
    section.vh {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    section.rt {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
/* } */



#copyright {
    text-align: center;
    background-color: #3a3b3c;
    /* margin-left: 600px; */
    /* margin-right: 600px; */
    color: #dfc55a;
}
    
#currentdate {
    text-align: center;
    background-color: #3a3b3c;
    /* margin-left: 600px; */
    /* margin-right: 600px; */
    color: #dfc55a;
}
    
#modified {
    text-align: center;
    background-color: #3a3b3c;
    /* margin-left: 600px; */
    /* margin-right: 600px; */
    color: #dfc55a;
}
    
#hero-msg h1 {
    color: #dfc55a;
}
    
.welcome {
    /* margin-top: 100px; */
    text-align: center;
    background-color: #3a3b3c;
    width: auto;
    /* margin-left: 400px; */
    /* margin-right: 400px; */
}