@media only screen and (min-width: 1000px) {

header {
    max-width: 800px;
    margin: auto;
}

nav {
flex-direction: row;
}

body {
max-width: 800px;
margin: auto;
}

footer {
    max-width: 800px;
    margin: auto;
    }

img {
    width: 500px;
    height: 500px;
}

}