@media only screen and (min-width: 32.5em) {

/* header {
    max-width: 800px;
    margin: auto;
}

body {
max-width: 800px;
margin: auto;
}

footer {
    max-width: 800px;
    margin: auto;
    }

img {
    width: 500px;
    height: 500px;
}

nav a {
    display: block;
    flex: 1 1 auto;
} */
}