/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@media only screen and (min-width: 16em) {
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
  /* change the values below to your colors from your palette */
    --primary-color: #dfc55a   ;
    --secondary-color: #78b455 ;
    --accent1-color: #3a3b3c;
    --accent2-color: #f0f0f0;

  /* change the values below to your chosen font(s) */
    --heading-font: font-family: 'Roboto', sans-serif;
    --paragraph-font: font-family: 'Lato', sans-serif;

  /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #3a3b3c;  /* headlines on a white background */ 
    --headline-color-on-color: #dfc55a; /* headlines on a colored background */ 
    --paragraph-color-on-white: #78b455; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #f0f0f0; /* paragraph text on a colored background */ 
    --paragraph-background-color: #3a3b3c  ;
    --nav-link-color: #dfc55a;
    --nav-background-color: #3a3b3c;
    --nav-hover-link-color: #f0f0f0;
    --nav-hover-background-color: #78b455;
}

body {
display: grid;
  max-width: 350px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  text-align: center;
}
/* h2 {
  text-align: center;
} */
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  display: grid;
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}


}