h1, h2 {
    text-align: center;
}

main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
    border: 2px solid rgb(216, 184, 0, 0.5);
    align-items: center;
    display: block;
}

main {
    background-color: rgb(20, 47, 87);
    color: rgb(216, 184, 0);
}

p {
    text-align: center;
    font-weight: bold;
}

img {
    box-shadow: 0 0 10px 3px black;
    width: auto;
	max-width: 325px;
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: .8rem;
}