.contact-head {
    width: 100%;
    text-align: center;
}

.contact-main {
    display: flex;
    flex-direction: column;
}

.chamber-team {
    border-bottom: 1px solid black;
    margin: 1rem 8rem 0 8rem;
}

.chamber-help {
    font-size: 18px;
}