/* Head */

/* -------------------------------------------------------------------------------- */
/* Body */
#content {
    position: relative;
    max-width: 1600px;
    max-height: 800px;
    margin: 0 auto;
}

/* -------------------------------------------------------------------------------- */
/* Header */
#content img {
    position: absolute;
    top: -75px;
    right: 250px;
}

.family {
    max-width: 100px;
    max-height: 200px;
    margin: auto;
}

#hero-msg h1 {
color: #dfc55a;
}

.welcome {
margin-top: 100px;
text-align: center;
background-color: #3a3b3c;
width: auto;
margin-left: 400px;
margin-right: 400px;
}
/* -------------------------------------------------------------------------------- */
/* Main */
#lessonlinks {
text-align: center;
list-style-position: inside;
}

#lessonlinks a:hover {
background-color: #78b455;
color: #f0f0f0;
}

/* -------------------------------------------------------------------------------- */
/* Footer */

#copyright {
text-align: center;
background-color: #3a3b3c;
margin-left: 600px;
margin-right: 600px;
color: #dfc55a;
}

h3 {
text-align: center;
}

#currentdate {
text-align: center;
background-color: #3a3b3c;
margin-left: 600px;
margin-right: 600px;
color: #dfc55a;
}

#modified {
text-align: center;
background-color: #3a3b3c;
margin-left: 600px;
margin-right: 600px;
color: #dfc55a;
}