/* Head */
/* -------------------------------------------------------------------------------- */
/* Body */
/* -------------------------------------------------------------------------------- */
/* Header */
header {
display: grid;
grid-template-columns: 1fr 1fr;
background-color:#3a3b3c;
max-width: 800px;
margin: auto;
}

header h1 {
color: #dfc55a;
/* background-color: #3a3b3c; */
margin: 50px 0 40px 30px;
}

/* -------------------------------------------------------------------------------- */
/* Main */
#lessonlinks {
text-align: center;
list-style-position: inside;
}

#lessonlinks a:hover {
background-color: #78b455;
color: #f0f0f0;
}

/* -------------------------------------------------------------------------------- */
/* Footer */

footer {
max-width: 800px;
margin: auto;
}

h3 {
    text-align: center;
}


#copyright {
text-align: center;
background-color: #3a3b3c;
color: #dfc55a;
}

/* #currentdate {
text-align: center;
background-color: #3a3b3c;
color: #dfc55a;
} */

#modified {
text-align: center;
background-color: #3a3b3c;
color: #dfc55a;
}